@using MvcCv.Models.Entity
@model List<Tbl_hobilerim>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<br />
<h2>Hobi Düzenleme Sayfası</h2>
<br />
    <form method="post">
        @foreach (var x in Model)
        {
            <label style="color: deepskyblue;">Açıklama 1</label>
            <textarea rows="5" class="form-control" name="Aciklama1">@x.Aciklama1</textarea>

            <label style="color: deepskyblue;">Açıklama 2</label>
            <textarea rows="5" class="form-control" name="aciklama2">@x.aciklama2</textarea>
        }
        <br />
        <button class="btn btn-success">Güncelle</button>
</form>
