
@{
    ViewBag.Title = "ProjeEkle";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h2> Yeni ProjeEkleme sayfası</h2>
<form method="post">
    <input type="text" name="Baslik" class="form-control" placeholder="Başlığı yazınız" />
    <br />
    <input type="text" name="Altbaslik" class="form-control" placeholder="Açıklama yazınız" />
    <br />
    <input type="text" name="Tarih"  class="form-control" placeholder="Çalışma Tarihi" />
    <br />
    <input type="text" name="Aciklama"  class="form-control" placeholder="Açıklamanızı Giriniz" />
    <br />
    <button class="btn btn-info">Kaydet</button>


</form>

